In [ ]:
import itertools
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt 
from matplotlib.ticker import NullFormatter
import matplotlib.ticker as ticker
from sklearn import preprocessing

In [ ]:
!wget -O teleCust1000t.csv https://s3-api.us-geo.objectstorage.softlayer.net/cf-courses-data/CognitiveClass/ML0101ENv3/labs/teleCust1000t.csv

--2020-09-24 16:31:42--  https://s3-api.us-geo.objectstorage.softlayer.net/cf-courses-data/CognitiveClass/ML0101ENv3/labs/teleCust1000t.csv
Resolving s3-api.us-geo.objectstorage.softlayer.net (s3-api.us-geo.objectstorage.softlayer.net)... 67.228.254.196
Connecting to s3-api.us-geo.objectstorage.softlayer.net (s3-api.us-geo.objectstorage.softlayer.net)|67.228.254.196|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 37048 (36K) [text/csv]
Saving to: ‘teleCust1000t.csv’

teleCust1000t.csv   100%[===================>]  36.18K  --.-KB/s    in 0.02s

2020-09-24 16:31:42 (1.44 MB/s) - ‘teleCust1000t.csv’ saved [37048/37048]

In [ ]:
df = pd.read_csv('teleCust1000t.csv')
df.head()

   region  tenure  age  marital  ...  retire  gender  reside  custcat
0       2      13   44        1  ...     0.0       0       2        1
1       3      11   33        1  ...     0.0       0       6        4
2       3      68   52        1  ...     0.0       1       2        3
3       2      33   33        0  ...     0.0       1       1        1
4       2      23   30        1  ...     0.0       0       4        3

[5 rows x 12 columns]

In [ ]:
x = df[['region','tenure','age','marital','address','income','ed','employ','retire','gender','reside']].values
y = df[['custcat']].values

In [ ]:
x = preprocessing.StandardScaler().fit(x).transform(x.astype(float))

In [ ]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size = 0.2,random_state = 4)

In [ ]:
from sklearn.neighbors import KNeighborsClassifier

In [ ]:
k = 4 
neighbor = KNeighborsClassifier(n_neighbors=k).fit(x_train,y_train)
neighbor

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:2: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
                     metric_params=None, n_jobs=None, n_neighbors=4, p=2,
                     weights='uniform')

In [ ]:
y_test_hat = neighbor.predict(x_test)
y_test_hat,y_test

(array([1, 1, 3, 2, 4, 3, 3, 2, 2, 4, 1, 4, 2, 1, 3, 1, 3, 4, 3, 4, 3, 3,
        3, 1, 1, 3, 1, 1, 1, 2, 1, 1, 4, 4, 3, 2, 3, 1, 2, 3, 1, 4, 2, 1,
        2, 1, 4, 1, 4, 4, 2, 1, 2, 3, 2, 3, 3, 3, 4, 1, 1, 4, 2, 3, 3, 1,
        1, 2, 2, 1, 1, 3, 4, 3, 2, 1, 4, 2, 2, 3, 3, 1, 2, 4, 4, 2, 3, 4,
        1, 1, 2, 2, 1, 1, 1, 1, 2, 2, 3, 1, 1, 4, 1, 1, 1, 4, 2, 2, 2, 2,
        1, 3, 2, 4, 1, 2, 1, 1, 2, 3, 4, 2, 2, 3, 1, 1, 2, 3, 1, 3, 3, 1,
        1, 4, 2, 2, 2, 1, 1, 3, 1, 1, 4, 1, 1, 2, 1, 3, 2, 2, 1, 2, 2, 3,
        2, 3, 3, 3, 3, 2, 3, 1, 1, 1, 3, 4, 1, 1, 3, 1, 3, 3, 1, 2, 2, 2,
        1, 1, 1, 1, 1, 1, 1, 2, 3, 1, 1, 1, 4, 4, 3, 1, 1, 3, 3, 4, 1, 4,
        3, 3]), array([[4],
        [1],
        [1],
        [2],
        [4],
        [4],
        [3],
        [1],
        [3],
        [4],
        [4],
        [2],
        [4],
        [1],
        [4],
        [3],
        [4],
        [2],
        [3],
        [4],
        [1],
        [1],
        [1],
        [3],
        [4],
        [4],
        [4],
        [2],
        [4],
        [3],
        [1],
        [1],
        [4],
        [3],
        [4],
        [4],
        [3],
        [3],
        [4],
        [4],
        [2],
        [4],
        [1],
        [1],
        [2],
        [4],
        [3],
        [3],
        [2],
        [2],
        [2],
        [3],
        [2],
        [3],
        [3],
        [4],
        [4],
        [3],
        [1],
        [4],
        [1],
        [2],
        [3],
        [3],
        [3],
        [1],
        [4],
        [3],
        [2],
        [4],
        [3],
        [1],
        [4],
        [3],
        [1],
        [4],
        [2],
        [4],
        [3],
        [2],
        [1],
        [3],
        [1],
        [1],
        [1],
        [2],
        [3],
        [2],
        [1],
        [3],
        [4],
        [1],
        [3],
        [1],
        [3],
        [1],
        [4],
        [1],
        [1],
        [3],
        [4],
        [1],
        [4],
        [3],
        [4],
        [4],
        [2],
        [1],
        [3],
        [4],
        [4],
        [1],
        [2],
        [2],
        [1],
        [2],
        [3],
        [1],
        [3],
        [1],
        [1],
        [1],
        [2],
        [3],
        [3],
        [4],
        [2],
        [4],
        [2],
        [1],
        [2],
        [1],
        [3],
        [1],
        [3],
        [3],
        [2],
        [2],
        [1],
        [3],
        [2],
        [2],
        [2],
        [3],
        [1],
        [4],
        [3],
        [2],
        [2],
        [3],
        [4],
        [4],
        [4],
        [2],
        [2],
        [3],
        [1],
        [2],
        [4],
        [3],
        [3],
        [1],
        [1],
        [3],
        [1],
        [4],
        [4],
        [1],
        [3],
        [2],
        [1],
        [2],
        [4],
        [2],
        [4],
        [2],
        [2],
        [3],
        [4],
        [1],
        [1],
        [2],
        [3],
        [1],
        [4],
        [1],
        [4],
        [1],
        [3],
        [4],
        [2],
        [3],
        [1],
        [2],
        [3],
        [2],
        [3],
        [3],
        [2],
        [3]]))

In [ ]:
from sklearn.metrics import accuracy_score

In [ ]:
accuracy_score(y_test,y_test_hat)

0.32

In [ ]:
accuracy_score(y_train,neighbor.predict(x_train))

0.5475